
<div class="container">
  <div class="row">
   <div class="col-md-12">
<h3 class="text-center">Lütfen Aşağıdaki Alanları Doldurunuz</h3>

<%= render 'form' %>
<button type="button" class="btn">
<%= link_to 'Ana Sayfa', posts_path %>
</button>
</div>
</div>
</div>